body{
    min-height: 1000px;
}
#all-services {
    display: flex;
    flex-wrap: wrap;
}
@media screen and (min-width: 1700px){
    #all-services {
        width :1700px;
        margin :0 auto 0 auto;
    }
}
#all-services section {
    width :350px;
    margin :155px auto 0 auto;
    position: relative;
    background-color: black;
    height:300px;
    color :white;
    transition: all .5s;
    border-radius: 12px;
    min-width: 350px;
    text-align: center;
    display: flex; 
    justify-content: center;
}
#all-services section:hover{
    height: 400px;
}

.services-section img{
    width :250px;
    height: 250px;
    position: absolute;
    left:50px;
    top :-40px;
    transition: all .8s;
    border-radius: 12px;
}
.services-section:hover img{
    top :-80px;
	transform:rotate(360deg);
}

.services-section .out-title{
    position: absolute;
    bottom: 40px;
    opacity: 1;
    transition: .2s;
    font-weight: bold;
}
.services-section:hover .out-title{
    opacity: 0;
    transition: .2s;

}
.services-section .angle-down{
    display: flex;
    justify-content: center;
}
.services-section .angle-down i{
    font-size:48px;
    color:white;
    position:absolute;
    bottom: 1px;
    opacity: 1;
    transition: .2s;
}
.services-section:hover .angle-down{
    opacity: 0;
    transition: .2s;
}
.all-services-container{
    position: absolute;
    bottom: 0;
    opacity: 0 ;
    transition: .5s;
    padding: 10px;
}
.services-section:hover .all-services-container{
    opacity: 1;
}
