/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


body{
    background-color: #ffffff;
}
.contact-info-div{
    margin:150px 10px 100px 10px;
}
#contact-us-page .contact{
    padding: 4%;
    height: 400px;

}
#contact-us-page .col-md-4{
    background: #ff9b00;
    padding: 4%;
border-radius: 0.5rem;
margin-bottom: 15px;
}
#contact-us-page .contact-info{
    margin-top:10%;
}
#contact-us-page .contact-info img{
    margin-bottom: 15%;
}
#contact-us-page .contact-info h2{
    margin-bottom: 10%;
}
#contact-us-page .col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
#contact-us-page .contact-form label{
    font-weight:600;
}
#contact-us-page .form-control {
    border: 1px solid #6C757D;
    box-shadow: none;
}
#contact-us-page .contact-form .btn-group{
    outline: none;
}
#contact-us-page .contact-form .btn-group .btn{
    width: 100%;
    background:none;
    color:#6C757D;
    box-shadow: none !important;
    border: 1px solid #6C757D;
    box-shadow: none;
   
}
#contact-us-page .contact-form .btn-group .btn option {
    margin: 5px;
}


#contact-us-page .contact-form .btn-group .dropdown-menu {
    width: 100%;
}
#contact-us-page .contact-form .dropdown-form .dropdown-select {
    width: 100%;
    max-width: none;
    height: 38px;
    border-radius: 0.2rem;
}


#contact-us-page .contact-form .send_button button{
padding:8px 25px;
margin-bottom: 0;
background: lightseagreen;  
box-shadow: none;
border:2px solid #000000;
border-radius: 20px;
-webkit-transition: all 0.5s ease-in-out;
background-color: white;
color: #000;
text-transform: uppercase;
font-size: 18px;
margin-top :5px;
font-weight: bold;
}
#contact-us-page .contact-form .send_button button:hover{   /* Simple Hover */
background: #000;
color :goldenrod;
transform: translateY(-5px);
}
.message_form {
max-height:340px ;
}