/* ---------------------------Start Global--------------------------- */

* {
    padding :0;
    margin :0;
    box-sizing: border-box;
}
html ,body{
    font-family: sans-serif; 
    min-width: 316px; 
    
}
@media screen and (min-width: 768px) and (min-height:900px){
    html, body {
        font-family: sans-serif; 
        height: 100%;  
        min-height: 100%;
    }
}

img {                           /* To prevent dragging image */
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }

section {
    height:100%;
}

/* ---------------------------End Global--------------------------- */

/* ---------------------------Start Loader Page--------------------------- */
.loader_bg {
    position: fixed;
    z-index: 999999;
    background-color: #000000;
    width :100%;
    height: 100%;
}
.loader {
    border:0 solid transparent;
    border-radius: 50%;
    width :150px;
    height: 150px;
    position: absolute;
    top : calc(50vh - 75px);
    left : calc(50vw - 75px);
}
.loader:before ,.loader:after {
    content:'';
    border: 1em solid goldenrod;
    border-radius: 50%;
    width :inherit;
    height:inherit;
    position:absolute;
    top :0;
    left :0;
    animation: loader 2s linear infinite;
} 
.loader:before {
    animation-delay: .5s;
}
@keyframes loader{
    0%{
        transform:scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform:scale(1);
        opacity: 0;
    }
}

/* ---------------------------End Loader Page--------------------------- */
::-webkit-scrollbar-track{
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar{
      width: 12px;
      background-color: #000000;
  }
  
  ::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #daa520;
    margin:50px;
  }
  ::-webkit-scrollbar-thumb:hover{
      background-color: rgb(250, 196, 58);
      transition: 1s ease-in-out;
  }

/* ---------------------------Start Nav--------------------------- */

#nav-bar {
    position: sticky;
    top :0;
    z-index: 10;
    /*min-height: 100%;    /*Active This proberty In The End Of Project*/

}
.navbar {
    background-color:black; 
    padding:0 !important;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar-brand img {
    height:40px;
    padding-left :5px;
    margin :8px;
    cursor: pointer;
}
.navbar-nav li {
    padding :0 10px;
    margin:7px;
    text-transform: uppercase;
}
.navbar-nav li a {
    color :#fff !important;
    font-weight: 600;
    float :right;
    text-align: left; 
}
.navbar-nav li a:focus,
.navbar-nav li a:hover,
.active{
    color :goldenrod !important;
    transition: 0.5s ease-in-out;
}

.navbar-nav li a:hover
{
    transform: translateY(-5px);
}

.fa-bars {
    color :#fff;
    font-size :30px !important;
}
.navbar-toggler{
    outline: none !important;
}

/* ---------------------------End Nav--------------------------- */

/* ---------------------------Start Banner--------------------------- */

#home {
    background-color:black; 
    color :#fff;
    padding-top :5%;
}
#home .row {
    margin :0;
}
#home .row .col-md-6{
    margin-bottom: 50px;
}

.promo-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}
.play-btn {
    width :45px;
    margin:20px 10px 20px 0;

}
#home a {
    color :#fff;
    text-decoration: none;
}

#home .addyou-img img {
    width :100%;
    margin-top:90px;

}
.wave{
    width:100%;
    display: block;
    position: relative;
    bottom: 10px;
}

/* ---------------------------End Banner--------------------------- */

/* ---------------------------Start services--------------------------- */

.title-black{
    margin-top :80px;
    margin-bottom: 0;
    padding:0;
    font-size: 30px;
    font-weight: bold;
}
.title-black::before {
    content: '';
    background-color:black; 
    height: 5px;
    width :200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
    border-radius: 5px;

}
.title-black::after {
    content: '';
    background-color:black; 
    height: 9px;
    width :50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: block;
    transform: translateY(25px);
    border-radius: 5px;

}

#services
{
    padding:20px 0;
} 
.services{
    padding:20px;
}
.services h4{
    padding :5px;
    margin-top :25px;
    text-transform: uppercase;
    font-weight: bold;

}
.services-img {
    width :100px;
    margin-top: 20px;
}
#services .btn-primary{
    padding:8px 25px;
    background: lightseagreen;  
    box-shadow: none;
    border:2px solid #000000;
    border-radius: 20px;
    -webkit-transition: all 0.5s ease-in-out;
    background-color: white;
    color: #000;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom :80px;
    font-weight: bold;
}
#services .btn-primary:hover{   /* Simple Hover */
    background: #000;
    color :goldenrod;
    transform: translateY(-5px);
}

/* ---------------------------End services--------------------------- */

/* ---------------------------Start About Us--------------------------- */
#about-us{
    background: black;
    padding-bottom :50px;
    padding-top :50px;
    color :white;
}
.title-white{
    margin-top: 80px;
    margin-bottom: 0;
    padding: 0;
    font-size: 30px;
    font-weight: bold;

}
.title-white::before {
    content: '';
    background-color:rgb(255, 255, 255); 
    height: 5px;
    width :200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
    border-radius: 5px;

}
.title-white::after {
    content: '';
    background-color:rgb(255, 255, 255); 
    height: 9px;
    width :50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: block;
    transform: translateY(25px);
    border-radius: 5px;

}
.about-title{
    font-size:30px;
    font-weight :600;
    margin-top:35px;
}
#about-us ul li {
    margin :10px 0;
}
#about-us ul {
    margin-left:40px;
}
.about-img img{
    margin-top :55px;
    margin-bottom:35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width :75%;
    padding:0 20px 0 20px;
}

/* ---------------------------End About Us--------------------------- */

/* ---------------------------Start TESTMENTALS--------------------------- */

#testmentals{
    padding-bottom :20px;
    padding-top :40px;
    margin-bottom:50px;
}

#testmentals .testmentals{
    border-left: 4px solid #000;
    margin-top:40px;
    margin-bottom:20px;
    margin-left :0px;
    float: left;
}
.testmentals img{
    height: 85px;
    width :85px;
    border-radius: 50%;
    margin :0 10px;
}
.testmentals p{
    padding-right:30px;
}
.user-details{
    display:inline-block;
    font-size: 12px;

}
/* ---------------------------End TESTMENTALS--------------------------- */






#contact_us {
    padding-top: 100px;
    background-color: black;
    color: white;
    padding-bottom: 50px;
    justify-content: center;

}
.contact_us-container {

}
.contact_us-row{
    margin:0;
}
.contact_us-box img {
    padding :0 20px 0 0 ;
    margin:0 0px 20px 0;
    width :200px;

}

.contact-us h4{
    font-size: 30px;
    font-weight: bold;
}
.contact-us h3{
    font-size: 30px;
    font-weight: bold;

}

.contact-us p a {
    text-decoration: none;
    color :goldenrod;
}
.contact-us p a:hover{
    transition: 0.5s ease;
    color:white;
}
.contact-us p a:before, .contact-us p a:after{
    opacity: 0;
    transition: all 0.3s ease;	
      font-size: 20px;
  }
.contact-us p a::before{
    content: "[";
}
.contact-us p a::after{
    content: "]";
}
.contact-us p a:hover:before{
    margin-right: 10px;
    color:white;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
    opacity: 1;
  }
  .contact-us p a:hover:after{
    margin-left: 10px;
    color:white;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
    opacity: 1;
  }
  


.contact_us-box{
    padding:20px;
    margin-left:0;
    padding-right: 45px;
}

.contact_us-box .fa {
    margin:0 8px 8px 0;
    font-size:25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top:7px;
    border-radius: 50% ;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    
}


.form-control{
    color :black;

}
.form-control:focus{
    box-shadow: 0 0 0 0.2rem rgb(217, 165, 32);
    border-color: #fff;
}

#contact_us .btn-primary{
    padding:8px 0px;
    background: lightseagreen;  
    box-shadow: none;
    border:2px solid #ffffff;
    border-radius: 20px;
    -webkit-transition: all 0.5s ease-in-out;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 18px;
    margin-top :20px;
    width :100%;
    font-weight: bold;

}
#contact_us .btn-primary:hover{   /* Simple Hover */
    background: #000;
    color :goldenrod;
    transform: translateY(-5px);
}
#contact_us .barck-line{
    margin:10px 20px 0 10px;
}
#contact_us .barck-line hr {
    color :white;
    font-size: 50px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 5px;
    margin: auto;
    width:100%;
}
.social-title{
    font-size:40px ;
    margin:30px 0 30px 0;
}
#social-media{
    float: left;
    background-color: black;
    padding: 100px 0;
}
#social-media p {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
    color :#fff;
    text-transform: uppercase;
}
.social-icons .fa{
    color:white;
    font-size: 40px;
    transition: 0.5s ease;
    text-decoration: none;
    margin :0px 15px 5px 15px;
    text-align: center;
}
.social-icons .fa:hover{
    transform: translateY(-10px);
    color :goldenrod;
}
footer{
    background-color: black;
    margin-top:30px;
    padding:0;

}
footer span{
    color :white;
}

#contact_us .comment{
    height: 132px;

}

@media screen and (min-width: 768px) and (min-height:900px){
#contact_us .comment{
    min-height :20px;
    max-height: 132px;
    }
}